*{
    margin: 0;
    padding: 0;
}

/****************** HEADER ***************************/
#head-text {
    color: grey;
    padding-left: 30px;
}
#nav {
    padding-top: 8px;
    padding-left: 180px;
}
a {
    color: grey;
    font-size: 14px;
}
a:hover {
    color: black;
}
#menu-icon {
    height: 20px;
}
#menu h5 {
    font-size: 16px;
    color: grey;
}
/****************** HERO SECTION *****************/
#hero-section {
    position: relative;
}
#hero-text {
    position: absolute;
    width: fit-content;
    top: 20%;
    left: 18%;
    font-weight: bold;
    font-size: 18px;
}


/*************** SECOND SECTION ****************/
section {
    background-color: rgb(209, 204, 204);
}

/************** THIRD AND FOURTH SECTION *****************/
#border {
    background-color: grey;
    height: 2px;
}

/************* FOOTER ***********************/
#end {
    background-color: rgb(41, 36, 36);
    color: lightgray;
}
#kraj {
    background-color: black;
    color: lightgray;
    font-size: 14px;
}
.table th {
    color: white;
}
.table td {
    color: rgb(148, 140, 140);
    font-size: 14px;
}
@media screen and (min-width: 350px) {
    #hero-text {
        font-size: 14px;
        top:30%;
        left: 6%;
    }
}
@media screen and (min-width: 414px) {
    #hero-text {
        top: 25%;
        left: 6%;
        font-size: 16px;
    }
}
@media screen and (min-width: 768px) {
    #hero-text {
        top: 20%;
        left: 18%;
        font-size: 18px;   
    }
}
